.page.page--contacts {
	.page-header {
		margin-bottom: rem(68px);
	}

	.map {
		margin-bottom: rem(75px);
	}

	.requisites {
		@include offset("-1/12");

		h2 {
			margin-bottom: rem(9px);
		}
	}

	.requisites-details {
		font-size: rem(16px);
		line-height: ratio(22px, 16px);

		li {
			@include column("3/12");

			&:first-child {
				@include column("4/12");
			}
		}
	}

}