.page.page--soviet-about {
	.page-header {
		margin-bottom: rem(66px);
	}

	#annonce {
		margin-bottom: rem(46px);
	}

	#annonce,
	#content {
		max-width: calc-percent(577px);
		margin-left: auto;
		margin-right: auto;
	}

	.gallery {
		margin-bottom: rem(32px);
	}
}