[class^="icon-"], [class*=" icon-"] {
	@include font-icon;
}

.icon-rubl {
	@include font-rubl-regular;
}

.icon-round-instagram:before {
	content: "\e62b";
}
.icon-grumpy:before {
	content: "\e63c";
}
.icon-minus:before {
	content: "\e638";
}
.icon-plus:before {
	content: "\e639";
}
.icon-horn-stroke:before {
	content: "\e636";
}
.icon-add:before {
	content: "\e637";
}
.icon-up:before {
	content: "\e635";
}
.icon-round-youtube:before {
	content: "\e61f";
}
.icon-round-website:before {
	content: "\e620";
}
.icon-round-vk:before {
	content: "\e621";
}
.icon-round-vimeo:before {
	content: "\e622";
}
.icon-round-twitter:before {
	content: "\e623";
}
.icon-round-tumblr:before {
	content: "\e624";
}
.icon-round-soundcloud:before {
	content: "\e625";
}
.icon-round-skype:before {
	content: "\e626";
}
.icon-round-ok:before {
	content: "\e627";
}
.icon-round-medium:before {
	content: "\e628";
}
.icon-round-lj:before {
	content: "\e629";
}
.icon-round-linkedin:before {
	content: "\e62a";
}
.icon-round-habrahabr:before {
	content: "\e62c";
}
.icon-round-gplus:before {
	content: "\e62d";
}
.icon-round-github:before {
	content: "\e62e";
}
.icon-round-ghost:before {
	content: "\e62f";
}
.icon-round-flickr:before {
	content: "\e630";
}
.icon-round-fb:before {
	content: "\e631";
}
.icon-round-dribbble:before {
	content: "\e632";
}
.icon-round-brainstorage:before {
	content: "\e633";
}
.icon-round-behance:before {
	content: "\e634";
}
.icon-reload:before {
	content: "\e61e";
}
.icon-menu:before {
	content: "\e61d";
}
.icon-runningman:before {
	content: "\e611";
}
.icon-heart:before {
	content: "\e619";
}
.icon-heart-fill:before {
	content: "\e61a";
}
.icon-eye:before {
	content: "\e61b";
}
.icon-comment:before {
	content: "\e61c";
}
.icon-settings:before {
	content: "\e618";
}
.icon-time:before {
	content: "\e616";
}
.icon-youtube:before {
	content: "\e604";
}
.icon-at:before {
	content: "\e600";
}
.icon-write:before {
	content: "\e605";
}
.icon-horn:before {
	content: "\e601";
}
.icon-enter:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e606";
}
.icon-close:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-back:before {
	content: "\e608";
}
.icon-calendar:before {
	content: "\e609";
}
.icon-categories:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-flashnews:before {
	content: "\e60c";
}
.icon-location:before {
	content: "\e60d";
}
.icon-search:before {
	content: "\e60e";
}
.icon-rss:before {
	content: "\e60f";
}
.icon-next:before {
	content: "\e610";
}
.icon-vkontakte:before {
	content: "\e612";
}
.icon-share-vkontakte:before {
	content: "\e613";
}
.icon-share-twitter:before {
	content: "\e614";
}
.icon-share-facebook:before {
	content: "\e615";
}
.icon-photo:before {
	content: "\e617";
}
.icon-edit:before {
	content: "\e63a";
}
.icon-upload:before {
	content: "\e63b";
}
