.languages {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
}

.languages__switch {
	li {
		@include inline-box;
		@include square(rem(31px));
		@include font-notosans-regular;
		font-size: rem(12px);
		line-height: ratio(32px, 12px);
		text-align: center;
		border-radius: 50%;

		&:first-child {
			margin-right: -2px;
		}

		&.is-active {
			border: solid 1px $color-accent;
		}
	}
}

@include respond-to(desktop) {
	.languages {
		left: auto;
		right: rem(7px);
		top: rem(106px);
	}
}