$color-bg-base: #F1F1F1;
$color-bg-content: #fff;

$color-text-base: #000;
$color-text-lighter: #AAAAAA;
$color-underline: #111111;
$color-border: #DDDDDD;

$color-info: #03A9F4;
$color-accent: #E8BB2D;
$color-error: #BF4D28;
$color-success: #88C425;


