.collapse-info {
    color: #726c71;

    .teaser {
        display: inline;
    }

    p {
        font-size: em(16px);
        line-height: em(23px, 16px);
        margin-bottom: em(13px, 16px);
        display: inline;
    }

    .toggle-full-text {
        font-size: em(16px);
        color: #33858b;
    }
}
